# Python files
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.env.*

# Virtual environments
venv/
.env/
env/
.venv/

# Pytest cache
.cache/
pytest_cache/

# FastAPI-specific
instance/
app/__pycache__/
app/*.log

# Visual Studio Code
.vscode/
*.code-workspace

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Logs and databases
*.log
*.sqlite3
*.db

# Docker files (if applicable)
docker-compose.override.yml
.dockerignore

# Pip and dependency management
pip-log.txt
pip-delete-this-directory.txt
Pipfile.lock
poetry.lock

# Mypy, Pylint, Pyright type checker
.mypy_cache/
.pyright/
pylint-report.txt

# IDE directories and settings
.idea/
*.iml

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# Build artifacts
build/
dist/
*.egg-info/
.eggs/
